@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'leaflet/dist/leaflet.css';

/* Estilos personalizados para el mapa */
.leaflet-container {
  font-family: inherit;
}

.custom-marker {
  background: transparent;
  border: none;
}
